@{
    ViewData["Title"] = "Recipes Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<button id="add-recipe-button" class="ms-lg-auto">Add recipe</button>

<div id="recipes-table">
</div>

<div id="update-recipe-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update recipe</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="update-recipe-form">
                <div class="modal-body">
                    <label for="name">Recipe Name</label>
                    <input class="form-control mb-4" name="name" />
                    <label for="servings">Recipe Servings</label>
                    <input class="form-control mb-4" name="servings" />
                    <label for="directions">Recipe Directions</label>
                    <div>Add in <i class="text-break text-primary text-wrap">Direction1.Direction2.Direction3.</i> format.</div>
                    <textarea class="form-control mb-4" name="directions"></textarea>
                    <label for="ingredients">Recipe Ingredients</label>
                    <div>Add in <i class="text-break text-primary text-wrap">Ingredient1.Ingredient2.Ingredient3.</i> format.</div>
                    <textarea class="form-control mb-4" name="ingredients"></textarea>
                    <label for="categoryName">Recipe Category</label>
                    <div>
                        <select id="categories-update" name="categoryName">
                        </select>
                    </div>
                    <input type="file" id="update-image-file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="update-save-button" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="add-recipe-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add recipe</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form id="add-recipe-form">
                <div class="modal-body">
                    <label for="name">Recipe Name</label>
                    <input class="form-control mb-4" name="name" />
                    <label for="servings">Recipe Servings</label>
                    <input class="form-control mb-4" name="servings" />
                    <label for="directions">Recipe Directions</label>
                    <div>Add in <i class="text-break text-primary text-wrap">Direction1.Direction2.Direction3.</i> format.</div>
                    <textarea class="form-control mb-4" name="directions"></textarea>
                    <label for="ingredients">Recipe Ingredients</label>
                    <div>Add in <i class="text-break text-primary text-wrap">Ingredient1.Ingredient2.Ingredient3.</i> format.</div>
                    <textarea class="form-control mb-4" name="ingredients"></textarea>
                    <label for="categoryName">Recipe Category</label>
                    <div>
                        <select id="categories-add" name="categoryName">
                        </select>
                    </div>
                    <input type="file" id="add-image-file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="add-save-button" type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/recipes.js"></script>
}
