<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RecipeApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Favicon
    ============ -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/img/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/img/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/img/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/img/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/img/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/favicon/favicon-96x96.png" />

    <!-- CSS files
    ============== -->
    <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>

    <div id="splash"></div>
    @await Component.InvokeAsync("UserHeader")

    <main>
        @RenderBody()
    </main>

    @await Component.InvokeAsync("UserFooter")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script charset="utf-8" type="text/javascript " src="~/js/modernizr.custom.js"></script>
    <script charset="utf-8" src="~/js/wow.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
